<manifest xmlns:android="http://schemas.android.com/apk/res/android"><application><service android:name=".SceneWallpaperService" android:label="Последний свет" android:exported="true" android:permission="android.permission.BIND_WALLPAPER"><intent-filter><action android:name="android.service.wallpaper.WallpaperService" /></intent-filter><meta-data android:name="android.service.wallpaper" android:resource="@xml/ls_last_light_wallpaper_entrypoint" /></service></application></manifest>
